## Step 2 - Database Engineering

In [1]:
import pandas as pd                                                          # pandas library

In [2]:
import numpy as np                                                           # numpy library

In [3]:
import sqlalchemy                                                            # SQL Alchemy library and modules

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import create_engine

from sqlalchemy import Column, Integer, String, Float

In [4]:
engine = create_engine('sqlite:///hawaii.sqlite', echo=False)                # creates SQLite database engine

In [5]:
measurement_df= pd.read_csv("./Resources/clean_hawaii_measurements.csv")     # reads cleaned csv data from step 1
station_df= pd.read_csv("./Resources/clean_hawaii_stations.csv")

In [6]:
measurement_df.head()                                                        # displays measurement dataframe

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [7]:
station_df                                                                   # displays station dataframe

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [8]:
class Measurment(Base):                                                      # creates ORM class for measurement
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [9]:
class Station(Base):                                                         # creates ORM class for station
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [10]:
Base.metadata.create_all(engine)                                             # creates SQLite database

In [11]:
# writes data from dataframes to SQLite database
measurement_df.to_sql('measurement', engine, if_exists = "append", index=False)
station_df.to_sql('station', engine, if_exists = "append", index=False)