## Step 1 - Data Engineering

In [1]:
import pandas as pd                                                          # pandas library

In [2]:
import numpy as np                                                           # numpy library

In [3]:
measurement_df = pd.read_csv("./Resources/hawaii_measurements.csv")          # reads measurements .csv

In [4]:
station_df = pd.read_csv("./Resources/hawaii_stations.csv")                  # reads stations .csv

In [5]:
measurement_df.dtypes                                                        # displays datatypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [6]:
measurement_df.head()                                                        # displays dataframe, shows NaNs

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
measurement_df.count()                                                       # displays counts, highlights NaNs

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [8]:
measurement_df['prcp'].fillna(0, inplace=True)                               # fills NaNs
measurement_df.count()                                                       # displays counts, no remaining NaNs

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [10]:
# exports cleaned data to cleaned .csv
measurement_df.to_csv("./Resources/clean_hawaii_measurements.csv", index=False, header=True)

In [11]:
station_df.dtypes                                                            # displays datatypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [9]:
measurement_df.head()                                                        # displays dataframe, no remaining NaNs

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [10]:
station_df.count()                                                           # displays counts, remaining NaNs

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [11]:
station_df.head()                                                            # displays dataframe

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [12]:
# exports cleaned data to cleaned .csv (no changes made in iPython notebook)
station_df.to_csv('./Resources/clean_hawaii_stations.csv', index=False, header=True)